.header {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.h1 { display: none; }

.a {
    display: flex;
    width: 150px;
    height: 100px;
}

.logo {
    width: 100%;
    height: 100%;
}

.margin { margin-left: -40px;}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    z-index: 10;
}

.div_avatar {border-radius: 100%;}

.div_handles {
    display: flex;
    border-radius: 30px;
    border: 1px solid rgb(142, 142, 142);
}
.div_handles_input {
    padding: 1rem;
    border: none;
    border-right: 1px solid rgb(142, 142, 142);
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 2px 9px 1px rgba(81, 122, 237, 0.19);
}

.div_handles_link {
    padding: 0.9rem;
    font-size:  85%;
    border-left: none;
    background-color: rgb(238, 238, 255);
    border-radius: 0px 30px 30px 0px;
    box-shadow: 0px 2px 9px 1px rgba(81, 122, 237, 0.19);
}

.div_handles_link:hover,
.div_handles_link:active,
.div_handles_link:focus,
.div_handles_input:hover,
.div_handles_input:active,
.div_handles_input:focus {
    outline: none;
    box-shadow: 0px 6px 9px 1px rgba(81, 122, 237, 0.19);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: .1rem 1rem .1rem 1rem;
    border: 1px solid rgba(247, 248, 255, 0.3);
    border-radius: 30px;
    box-shadow: 2px 4px 12px 3px rgba(81, 122, 237, 0.19);
    z-index: 10;
}

.menu_link {
    padding-right: 1rem;
}

/* Component menu */
.div_menu__img {
	transform: rotate(90deg);
	transition: transform 300ms ease-out;
}

.div_menu__img_false {
	transition: transform 300ms ease-out;
}
 
/* Modal */
.div_menu__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    min-height: 340px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.padding {padding-left: 20px;}

.form_modal {
    margin: 10px;
    margin-top: -25px;
}
