.container {
  text-align: center;
  /* background-color: rgb(40, 44, 52); */
}

.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.section_up {
  display: flex;
  background-size: cover;
  max-height: 90vh;
}

.section_middle {
  display: flex;
  padding: 1.5rem;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  box-shadow: 0px 0px 12px 4px rgba(161, 214, 255, 0.3);
  width: 250px;
  height: 370px;
  border-radius: 15PX;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(215, 238, 255, 0.3);
}
.card_img {
width: 100%;
height: 50%;
border-radius: 15px 15px 0px 0px;
}
.card_img__img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  }

.card_text {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0px 0px;
  }

.card_text__name{
  font-size: larger;
  font-weight: 500;
  margin-top: 0.3rem;
}

.card_text__location {
display: flex;
justify-content: center;
justify-content: space-evenly;
margin: -1.1rem;
}

.section_down {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  width: 100%;
}

.section_down__article {
  box-shadow: 0px 0px 12px 4px rgba(158, 252, 255, 0.3);
  border-radius: 5PX;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(203, 246, 248, 0.3);
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
