.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.displayNone {display: none;}

.error {
  color: red;
  margin-top: -2px;
  font-size: small;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -3%;
}

.form_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_info {
  margin-right: 15px;
  padding: 15px;
  width: 350px;
}
.form_photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
}

.form_desc {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.form_desc__texte {
  border: 1px solid rgb(182, 183, 184);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  outline-color: rgb(175, 206, 247);
}

.form_password {
  margin: -10px 28px 0px 15px;
}

.form_allPassword {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 350px;
}

.photo_hover:hover  .photo_img {
  opacity: 0.3;
}
.photo_hover:hover  .photo_button {
  opacity: 1;
}
.photo_img_opacity {
  opacity: 0.3;
}
.photo_button_opacity {
  opacity: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.photo_button {
  transition: .5s ease;
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.photo_img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  transition: .5s ease;
}

.input_pwd {
  margin-top: 5px;
}
